.img{
    margin-left: -8px;
    margin-top: -10px;
    margin-right: -8px;
    width: 489.3px;
    height:100%;
    
}
.link{padding-left: 550px;  
    margin-top: -860px ;
    padding-top: -1000px; 
    color: white;
font-size: 20px;
text-decoration:none;}
.link:hover{color: black;}
.link:active{color:#274001;}



 

   
